# Importing Data with pandas_datareader

### Setting up the data-reader

In [3]:
from pandas_datareader import wb
from datetime import datetime

start = datetime(2005, 1, 1)
end = datetime(2008, 1, 1)
indicator_id = 'NY.GDP.PCAP.KD'

gdp_per_capita = wb.download(indicator=indicator_id, start=start, end=end, country=['US', 'CA', 'MX'])

print(gdp_per_capita)

                    NY.GDP.PCAP.KD
country       year
Canada        2008    42063.633052
              2007    42097.435120
              2006    39776.179473
              2005    38573.199765
Mexico        2008     9181.399967
              2007     9214.353534
              2006     9142.804774
              2005     8877.851291
United States 2008    53854.160612
              2007    54299.617241
              2006    53738.091725
              2005    52789.731419

### Importing the Nasdaq Symbols

This way one can find the companies one wants to check out and look into

In [8]:
from pandas_datareader.nasdaq_trader import get_nasdaq_symbols

symbols = get_nasdaq_symbols()

In [14]:
#Way to search for it:
symbols[symbols['Security Name'].str.contains("Apple")]

,Nasdaq Traded,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
Symbol,,,,,,,,,,,
AAPL,True,Apple Inc. - Common Stock,Q,Q,False,100.0,False,N,NaN,AAPL,False
APLE,True,"Apple Hospitality REIT, Inc. Common Shares",N,,False,100.0,False,NaN,APLE,APLE,False

In [ ]:
from datetime import datetime
import pandas_datareader.data as web

start = datetime(2019, 1, 1)
end = datetime(2019, 2, 1)

sap_data = web.DataReader('SP500', 'fred', start, end)

In [4]:
sap_data.head(3)

              SP500
DATE
2019-01-01      NaN
2019-01-02  2510.03
2019-01-03  2447.89